@model PatientManager.Core.Application.ViewModels.Appointment.AppointmentViewModel

@{
    ViewData["Title"] = "Appointments";
}
<h1>Citas</h1>

<div class="row">
    <hr />
    <h3>¿Está seguro que desea eliminar esta cita?</h3>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <dl class="row mt-4">
                <dt class="col-sm-4">
                    Paciente
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Patient.Name) @Html.DisplayFor(model => model.Patient.LastName)
                </dd>
                <dt class="col-sm-4">
                    Fecha
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Date)
                </dd>
            </dl>
            <div class="row">
                <form asp-action="Delete">
                    <input type="submit" value="Aceptar" class="btn btn-danger col-5 mx-auto" />
                    <a asp-action="Index" class="btn btn-primary col-5 mx-auto">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>